
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Dashboard.cshtml";
}

<div class="row">
    <div class="col-12 col-xl-12">
        <div class="row">
            @Html.Action("PageVisitPartial","PageVisit")
            <br />
            @Html.Action("TeamMembersPartial","Workers")
            <br />
            @Html.Action("ProjectsPartial","Project")
        </div>
    </div>
</div>


